.header {
  display: flex;
  align-items: center;

  min-height: var(--sm-header-height);
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: @xl-width) {
    min-height: var(--xl-header-height);
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  gap: 80px;

  height: 100%;

  @media (min-width: @md-width) {
  }

  @media (min-width: @xl-width) {
    justify-content: space-between;
  }
}

.header__logo {
  flex-shrink: 0;

  margin-right: auto;
}

.header__nav {
  .wrapper-padding();
  width: 100%;
  max-width: var(--sm-max-width);

  background-color: var(--color-back-basic);

  @media (min-width: @xl-width) {
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
  }
}

.header__nav-top {
  display: flex;
  align-items: center;
  gap: 80px;

  min-height: var(--sm-header-height);
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: @xl-width) {
    display: none;
  }
}

.header__nav-bottom {
  display: flex;
  flex-direction: column;
  gap: 80px;

  padding: 30px 0;
  border-top: 1px solid currentColor;

  @media (min-width: @xl-width) {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0;

    border-top: none;
  }

  @media (min-width: @xxl-width) {
    gap: 150px;
  }
}

.header__site-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;

  @media (min-width: @xl-width) {
    flex-direction: row;
    gap: 40px;
  }
}

.header__site-link {
  .interactive-default();
}

.header__user-list {
  align-self: end;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media (min-width: @xl-width) {
    flex-direction: row;
  }
}

.header__user-link {

  &--in {
    font-weight: 500;

    .interactive-default();
  }

  &--up {
      width: 150px;
  }
}

.header__open-btn {
  @media (min-width: @xl-width) {
    display: none;
  }
}
