.hero {
  padding-top: 45px;
  padding-bottom: 68px;
}

.hero__wrapper {
  display: grid;
  gap: 20px;

  @media (min-width: @xl-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    gap: 20px 50px;
  }
}

.hero__title {
  margin: 0 auto;

  font-size: 50px;
  line-height: 70px;
  font-weight: 500;
  text-align: center;

  color: var(--color-font-title);

  & b {
    font-weight: 700;
  }

  @media (min-width: @md-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: @xl-width) {
    grid-column: auto;
    align-self: end;

    margin: 0;

    text-align: left;
  }
}

.hero__text {
  margin: 0 auto;

  text-align: center;

  & b {
    font-weight: 500;
  }

  @media (min-width: @md-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: @xl-width) {
    grid-column: auto;
    margin: 0;
    text-align: left;
  }
}

.hero__btn {
  order: 1;
  justify-self: center;

  @media (min-width: @md-width) {
    align-self: center;
  }

  @media (min-width: @xl-width) {
    order: unset;
    justify-self: start;
    align-self: start;
  }
}

.hero__bg {
  position: relative;

  width: 100%;
  max-width: var(--md-max-width);
  margin: 40px auto;

  @media (min-width: @md-width) {
    // margin: 0;
  }

  @media (min-width: @xl-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    align-self: center;

    max-width: unset;
    margin: 0;
  }
}

.hero__img {
  width: 100%;
  aspect-ratio: 612 / 383;
  object-fit: contain;
}

.hero__decor {
  position: absolute;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  animation: spin 5s linear infinite;

  &--1 {
    top: 0;
    left: 2.5%;
    width: 16.7%;
    aspect-ratio: 98 / 77;
    background-image: url(../../images/hero-decor-1.svg);
  }

  &--2 {
    top: 0;
    left: 52.8%;
    width: 12.5%;
    aspect-ratio: 73 / 57;
    background-image: url(../../images/hero-decor-2.svg);

    animation-delay: 1s;
  }

  &--3 {
    top: 35.1%;
    left: 11.2%;
    width: 11.4%;
    aspect-ratio: 109 / 80;
    background-image: url(../../images/hero-decor-3.svg);

    animation-delay: 3s;
  }

  &--4 {
    top: 17%;
    left: 71.5%;
    width: 18.4%;
    aspect-ratio: 98 / 77;
    background-image: url(../../images/hero-decor-4.svg);

    animation-delay: 2s;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
