.locations {
  padding-top: 33px;
  padding-bottom: 65px;
}

.locations__wrapper {
  display: grid;
  gap: 20px;
}

.locations__title {
  text-align: center;
}

.locations__text {

  text-align: center;

}

.locations__bg {
  margin-top: 40px;
}

.locations__bg img {
  width: 100%;
  aspect-ratio: 1060 / 538;
  object-fit: contain;
}
