.locations {
  padding-top: 33px;
  padding-bottom: 65px;
}

.locations__wrapper {
}

.locations__title {
  margin-bottom: 20px;

  text-align: center;
}

.locations__text {
  margin-bottom: 60px;

  text-align: center;
}

.locations__bg img {
  width: 100%;
  aspect-ratio: 1060 / 538;
  object-fit: contain;
}
