.pagination {
  // position: static;
  position: relative;
  display: flex;
  align-items: center;
  // gap: 15px;

  // transform: none !important;
  // width: auto !important;

  &--lock {
    display: none;
  }
}

.pagination__btn {
  flex-shrink: 0;

  position: relative;

  display: block;
  width: 45px;
  height: 15px;

  &::after {
    position: absolute;
    content: "";
    inset: 0;

    width: 15px;
    height: 15px;
    margin: 0 auto;

    background-color: var(--color-grey-02);
    border-radius: 7.5px;

    cursor: pointer;

    transition: width .5s, background-color .5s;

  }

  &--current&::after {
    width: 45px;

    background-color: var(--color-accent);
    border-radius: 7.5px;
  }
}
