.plan {
  width: 100%;
  max-width: 330px;
}

.plan__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  height: 100%;
  min-height: 760px;
  padding: 273px 40px 50px;

  background-color: var(--color-back-basic);
  border-radius: 10px;
  border: 2px solid var(--color-grey-05);

  transition: border-color .5s ease-in-out;

  &:has(a:hover, a:focus-visible) {
    border-color: var(--color-accent);
  }

  &::before {
    position: absolute;
    content: "";
    top: 77px;
    left: 0;
    right: 0;

    width: 146px;
    height: 167px;
    margin: 0 auto;
    background-size: 146px 167px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .plan--free &::before {
    background-image: url("../images/icons/plan-free.svg");
  }

  .plan--standart &::before {
    background-image: url("../images/icons/plan-standart.svg");
  }

  .plan--premium &::before {
    background-image: url("../images/icons/plan-premium.svg");
  }
}

.plan__title {
  margin-bottom: 10px;

  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.plan__list {
  display: grid;
  gap: 10px;

  margin-bottom: auto;

  font-size: 14px;
  line-height: 30px;
}

.plan__item {
  position: relative;
  padding-left: 44px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 5px;

    width: 14px;
    height: 10px;
    margin: auto 0;

    background-image: url("../images/icons/check-2.svg");
    background-size: 14px 10px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.plan__value {
  font-size: 25px;
  line-height: 30px;

  & span {
    font-weight: 500;
  }
}

.plan__btn {
  width: 178px;
}
