.pricing {
  padding-top: 80px;
  padding-bottom: 80px;

  overflow: hidden;
}

.pricing__wrapper {

}

.pricing__title {
  margin-bottom: 20px;

  text-align: center;
}

.pricing__text {
  margin-bottom: 60px;

  text-align: center;
}
