.reviews {
  padding-top: 33px;
  padding-bottom: 65px;
}

.reviews__wrapper {

}

.reviews__title {
  margin-bottom: 20px;

  text-align: center;
}

.reviews__text {
  text-align: center;
}

.reviews__list {
  display: flex;
  gap: 50px;

  padding-top: 60px;
  padding-bottom: 60px;

  overflow-x: auto;
}

.reviews__item {
  flex-shrink: 0;
}

.reviews__navigation {
  display: flex;
  gap: 20px;
}
