.container {
  width: 100%;
  max-width: @max-width;
  margin-right: auto;
  margin-left: auto;
}

.wrapper-padding {
  padding-right: var(--sm-padding);
  padding-left: var(--sm-padding);

  @media (min-width: @md-width) {
    padding-right: var(--md-padding);
    padding-left: var(--md-padding);
  }

  @media (min-width: @xl-width) {
    padding-right: var(--xl-padding);
    padding-left: var(--xl-padding);
  }

  @media (min-width: @xxl-width) {
    padding-right: var(--xxl-padding);
    padding-left: var(--xxl-padding);
  }
}

.wrapper {
  .container();
  .wrapper-padding();
}

.burger-icon(@width, @height) {
  &::before{
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    transform: translateY(-50%);

    width: @width;
    height: 2px;
    margin: auto;

    background-color: currentColor;
    box-shadow: 0 calc((-@height) / 2 + 1px) currentColor, 0 calc(@height / 2 - 1px) currentColor;
  }
}

.cross-icon(@size, @thickness) {
  &::before,
  &::after {
    position: absolute;
    content: "";
    top: calc((100% - @size) / 2);
    left: calc((100% - @thickness) / 2);

    width: @thickness;
    height: @size;
    margin: 0 auto;

    background-color: currentColor;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.focus-default {
  &:focus-visible {
    outline: 1px solid var(--color-accent);
    outline-offset: 2px;
  }
}

.hover-default {
  opacity: 1;
  transition: opacity .5s ease-in-out;

  &:hover {
    opacity: .8;
  }
}

.active-default {
  opacity: 1;
  transition: opacity .5s ease-in-out;

  &:active {
    opacity: .9;
  }
}

.interactive-default {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: -5%;
    bottom: 2px;

    width: 110%;
    height: 2px;

    background-color: var(--color-accent);

    transform: scale(0);
    transform-origin: bottom left;
    transition: transform .5s ease-in-out;
  }

  .focus-default();

  &:hover::after {
    transform: scale(1);
    transform-origin: bottom right;
  }
}
